/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 dic. 2022, 12:34:35
    Author     : aronr
*/

.hboxHeader{
    -fx-background-color: linear-gradient(from 25% 25% to 90% 90%, #35f2f2, #bcdd78);
}

#fondoPrincipal{
    -fx-background-image: url("C:\Users\aronr\Documents\GitHub\IPC\zIPC-TrabajoFinal\src\icons\fondo principal.png");
    -fx-opacity: 0.2; 
}

#botonInicioSesion{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
}

#botonRegistrarse{
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
}

.descripcion{
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 17px;
}

#labelTop{
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
}


