/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 ene. 2023, 22:43:13
    Author     : aronr
*/

.hboxHeader{
    -fx-background-color: linear-gradient(from 25% 25% to 90% 90%, #35f2f2, #bcdd78);
}

.botones{
    -fx-background-color:#ccffff;
    -fx-font-family:Verdana;
    -fx-font-weight: Bold;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

.botones:hover {
    -fx-background-color:#668080;
    -fx-font-family:Verdana;
    -fx-font-weight: Bold;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-text-fill: white;
}

.botonCancelar {
    -fx-background-color:transparent;
    -fx-font-family: Verdana;
}

.botonCancelar:hover{
    -fx-background-color:#91b265;
    -fx-font-family: Verdana;
    -fx-text-fill: white;  
}

.descripcion{
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
    -fx-font-size: 17px;
}

#labelTop{
    -fx-font-family: Verdana;
    -fx-font-weight: Bold;
}
